<%- include('layout/head'); %>
<title>新增課程</title>
<%- include('layout/header'); %>


<div class="" id="content">
    <div class="container text-center">
        <h1 class="m-4">新增課程</h1>
    </div>
</div>
<div class="row">
    <form method="post" class="m-auto" role="form">
        <div class="form-group">
            <label class="col-sm-9 control-label">課程：</label>
            <div class="col-sm-12">
                <input type="text" name="course" class="form-control" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">時間：</label>
            <div class="col-sm-12">
                <input type="date" name="date" class="form-control" required="required" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">講師：</label>
            <div class="col-sm-12">
                    <input type="text" name="lecturer" class="form-control" required="required">
            </div>
        </div>
        <div class="form-group">
                <label class="col-sm-9 control-label">教材：</label>
                <div class="col-sm-12">
                        <input type="text" name="material" class="form-control">
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-9 m-auto">
                <button type="submit" class="btn btn-dark m-1" value="提交">提交</button>
                <button type="reset" class="btn btn-secondary" value="重置">重置</button>
            </div>
        </div>
    </form>
</div>
</div>
<%- include('layout/footer'); %>
