<!-- views/index.ejs -->

<!DOCTYPE html>

    <%- include('layout/head'); %>

<body class="container">
    
    <%- include('layout/header'); %>
    
    <main>
        <div class="jumbotron text-center">
            <p>今日課程為：<span>xxxx</span></p>
            <p id="">簽到密碼：<span>1234</span></p>
            <button class="btn btn-primary">產生簽到密碼</button>
        </div>
    </main>  

    <%- include('layout/footer'); %>

</body>
</html>