<!-- views/layout/footer.ejs -->

<footer>
    <div class="text-center text-muted">
        <p class="mb-1 text-light">Copyright © <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
          </script> - SIRLA
        </p>
    </div>
      
      </footer>