<!-- views/layout/header.ejs -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SIRLA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/courses">課程管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student">學員簽到記錄</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <a href="/signout" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">登出</a>
                </form>
          </div>
    </nav>
<%- include('notification'); %>