<!-- views/layout/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/">SIRLA<a></a></li>
            <li><a href="/number">首頁</a></li>
            <li><a href="/courses">課程管理</a></li>
            <li><a href="/student">學員簽到記錄</a></li>
        </ul>
      
    </div>
</nav>